<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Flask XKCDB</title>
    </head>
    <body>
        <div id="menu">
            <div id="logo">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <a href="{{ url_for('about') }}">About</a> |
            <a href="{{ url_for('submit') }}">Submit</a> |
            <a href="{{ url_for('home') }}">New</a> |
            Top (Recent) | Random >0 | Search | RSS | Bananas | $
        </div>
        <div id="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
